.footer-section-wrapper {
  background-color: rgba(2, 0, 11, 0.50);
  margin: 80px 0 0 0;
  padding: 0 2rem;
}

.footer-section {
  height: 200px;

  margin: 0 auto;
  margin-top: 32px;
  max-width: 80rem;
  padding: 0 2rem;
  width: 100%;
}

.footer-section > * {
  flex: 1;
}

.footer-col {
  color: #FFFFFF;
  gap: 1rem;
}

.footer-copyright-wrapper {
  height: 86px; 
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 2rem;
  width: 100%;
}

.footer-copyright {
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
  flex: 1;
  justify-content: space-between;
}

.footer-social-media {
  gap: 1rem;
}